<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test  name="Cucumber with TestNG Test">
        <classes>
            <class name="com.actum.interview.runners.TestNGCucumberRunnerTest"/>
<!--            <class name="com.actum.interview.runners.CalcTest"/>-->
        </classes>
<!--        <packages>-->
<!--            <package name="com.actum.interview.runners"/>-->
<!--        </packages>-->
    </test>
</suite>